# Feature Engineering Exercises

In [42]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from pydataset import data

import wrangle
import modeling
import evaluate

from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler

import warnings
warnings.filterwarnings("ignore")

Load the tips dataset.

In [57]:
swiss = data('swiss')

In [2]:
tips = data('tips')

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

Create a column named price_per_person. This should be the total bill divided by the party size.

In [4]:
tips['price_per_person'] = tips['total_bill'] / tips['size']

In [5]:
tips.head()

   total_bill   tip     sex smoker  day    time  size  price_per_person
1       16.99  1.01  Female     No  Sun  Dinner     2          8.495000
2       10.34  1.66    Male     No  Sun  Dinner     3          3.446667
3       21.01  3.50    Male     No  Sun  Dinner     3          7.003333
4       23.68  3.31    Male     No  Sun  Dinner     2         11.840000
5       24.59  3.61  Female     No  Sun  Dinner     4          6.147500

Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount?

- I think the most important features will be number of people, total bill, and meal time.

Use select k best to select the top 2 features for predicting tip amount. What are they?

In [6]:
train, validate, test = wrangle.subset_df(tips)
train.shape, validate.shape, test.shape

((146, 8), (49, 8), (49, 8))

In [7]:
X_train, y_train, X_validate, y_validate, X_test, y_test = modeling.xy_subsets(train, validate, test, 'tip')

In [8]:
X_train.head()

     total_bill     sex smoker   day    time  size  price_per_person
195       16.58    Male    Yes  Thur   Lunch     2          8.290000
77        17.92    Male    Yes   Sat  Dinner     2          8.960000
42        17.46    Male     No   Sun  Dinner     2          8.730000
109       18.24    Male     No   Sat  Dinner     2          9.120000
224       15.98  Female     No   Fri   Lunch     3          5.326667

In [9]:
mms = MinMaxScaler()
X_train[['total_bill', 'price_per_person']] = mms.fit_transform(train[['total_bill', 'price_per_person']])
X_train.head()

     total_bill     sex smoker   day    time  size  price_per_person
195    0.240346    Male    Yes  Thur   Lunch     2          0.311207
77     0.270084    Male    Yes   Sat  Dinner     2          0.349713
42     0.259876    Male     No   Sun  Dinner     2          0.336494
109    0.277186    Male     No   Sat  Dinner     2          0.358908
224    0.227031  Female     No   Fri   Lunch     3          0.140900

In [11]:
X_train = pd.get_dummies(X_train, columns=['sex', 'smoker', 'day', 'time', 'size'])

In [12]:
f_selector = SelectKBest(f_regression, k=2)
f_selector.fit(X_train, y_train)

SelectKBest(k=2, score_func=<function f_regression at 0x135d54af0>)

In [14]:
f_select_mask = f_selector.get_support()

In [16]:
X_train.iloc[:,f_select_mask]

     total_bill  size_2
195    0.240346       1
77     0.270084       1
42     0.259876       1
109    0.277186       1
224    0.227031       0
79     0.377497       1
145    0.237017       1
27     0.169108       1
236    0.095872       1
214    0.166889       1
184    0.386596       0
194    0.215934       1
1      0.249445       1
3      0.338660       0
78     0.476032       0
47     0.365735       1
101    0.124279       1
138    0.186418       1
148    0.135819       1
176    0.602530       1
91     0.515313       1
86     0.645362       0
171    1.000000       0
162    0.153351       1
99     0.338660       1
37     0.234354       0
144    0.472703       0
62     0.178873       1
23     0.222370       1
119    0.148247       1
159    0.169552       1
137    0.101642       1
12     0.654905       0
239    0.667554       0
28     0.154017       1
151    0.184643       1
5      0.418109       0
123    0.188859       1
33     0.206613       1
142    0.633600       0
174    0.579228       1
139    0.227474       1
63     0.116955       1
136    0.061252       1
129    0.124945       1
221    0.142255       1
185    0.772304       1
71     0.139148       1
206    0.237905       0
65     0.262761       0
45     0.547048       0
220    0.541278       0
41     0.228362       0
124    0.226365       1
24     0.747226       0
183    0.878828       0
179    0.085442       1
82     0.242122       1
40     0.566356       0
205    0.328007       0
48     0.591434       0
95     0.377275       1
186    0.331558       0
44     0.087217       1
146    0.057701       1
191    0.220595       1
4      0.397914       1
106    0.213271       1
54     0.092987       1
134    0.144474       1
222    0.170217       1
238    0.600976       1
227    0.096316       1
50     0.272747       1
164    0.178873       1
81     0.303817       1
35     0.266977       1
202    0.155126       1
8      0.468930       0
172    0.223258       1
111    0.183089       1
92     0.371505       1
84     0.597648       1
218    0.129605       1
223    0.062805       0
90     0.341988       1
9      0.206170       1
14     0.281403       0
60     0.943631       0
210    0.155570       1
132    0.322237       1
18     0.233910       0
167    0.333111       1
73     0.468486       1
233    0.130049       1
135    0.277630       1
200    0.172215       1
225    0.170217       1
64     0.278296       0
55     0.439636       0
108    0.431869       1
51     0.150688       1
231    0.405237       0
175    0.245672       1
213    0.944962       0
190    0.385042       0
241    0.475588       1
216    0.158677       1
170    0.108300       1
59     0.121838       1
49     0.505992       0
89     0.420772       1
22     0.322681       1
58     0.458500       1
204    0.236352       1
161    0.349534       0
237    0.152020       1
188    0.548380       0
192    0.312028       1
130    0.378828       0
38     0.248114       0
158    0.427208       0
230    0.363293       1
2      0.101864       0
53     0.644918       0
150    0.039059       1
131    0.295828       1
152    0.163782       1
104    0.369951       1
100    0.148913       1
117    0.536618       0
88     0.278074       1
203    0.160897       1
75     0.199290       1
215    0.497559       0
211    0.539503       0
122    0.170217       1
244    0.289170       1
21     0.270084       1
189    0.275189       0
72     0.251221       0
107    0.327119       1
15     0.201509       1
93     0.000000       1
180    0.640923       1
103    0.855526       0

- The best two features using SelectKBest were total bill and whether or not the table size was 2 people

Use recursive feature elimination to select the top 2 features for tip amount. What are they?

In [17]:
X_train.head()

,total_bill,price_per_person,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch,size_1,size_2,size_3,size_4,size_5,size_6
195,0.240346,0.311207,0,1,0,1,0,0,0,1,0,1,0,1,0,0,0,0
77,0.270084,0.349713,0,1,0,1,0,1,0,0,1,0,0,1,0,0,0,0
42,0.259876,0.336494,0,1,1,0,0,0,1,0,1,0,0,1,0,0,0,0
109,0.277186,0.358908,0,1,1,0,0,1,0,0,1,0,0,1,0,0,0,0
224,0.227031,0.140900,1,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0

In [18]:
lm = LinearRegression()
rfe = RFE(lm, n_features_to_select=2)

rfe.fit(X_train, y_train)

RFE(estimator=LinearRegression(), n_features_to_select=2)

In [19]:
ranks = rfe.ranking_
columns = X_train.columns.tolist()

feature_ranks = pd.DataFrame({'ranking': ranks,
                              'feature': columns})
feature_ranks.sort_values('ranking')

    ranking           feature
0         1        total_bill
1         1  price_per_person
16        2            size_5
12        3            size_1
13        4            size_2
17        5            size_6
2         6        sex_Female
14        7            size_3
11        8        time_Lunch
4         9         smoker_No
3        10          sex_Male
10       11       time_Dinner
9        12          day_Thur
5        13        smoker_Yes
8        14           day_Sun
15       15            size_4
6        16           day_Fri
7        17           day_Sat

- According to the RSE function, the two best features were price per person and total bill

Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features you are selecting?

- I think the reason that the answers were different was because the SelectKBest function's answers were correlated to eachother, while the RSe functions were not. I'm unsure if this will change significantly as we change the number of features, but I would say that yes it probably does

Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [84]:
def select_kbest(X_train_scaled, y_train, k):
    
    f_selector = SelectKBest(f_regression, k=k)
    f_selector.fit(X_train_scaled, y_train)
    
    f_select_mask = f_selector.get_support()
    best_features = X_train_scaled.iloc[:,f_select_mask]
    
    return best_features.head(k)

In [37]:
select_kbest(X_train, y_train, 3)

     total_bill  size_2  size_4
195    0.240346       1       0
77     0.270084       1       0
42     0.259876       1       0
109    0.277186       1       0
224    0.227031       0       0
79     0.377497       1       0
145    0.237017       1       0
27     0.169108       1       0
236    0.095872       1       0
214    0.166889       1       0
184    0.386596       0       1
194    0.215934       1       0
1      0.249445       1       0
3      0.338660       0       0
78     0.476032       0       1
47     0.365735       1       0
101    0.124279       1       0
138    0.186418       1       0
148    0.135819       1       0
176    0.602530       1       0
91     0.515313       1       0
86     0.645362       0       1
171    1.000000       0       0
162    0.153351       1       0
99     0.338660       1       0
37     0.234354       0       0
144    0.472703       0       0
62     0.178873       1       0
23     0.222370       1       0
119    0.148247       1       0
159    0.169552       1       0
137    0.101642       1       0
12     0.654905       0       1
239    0.667554       0       0
28     0.154017       1       0
151    0.184643       1       0
5      0.418109       0       1
123    0.188859       1       0
33     0.206613       1       0
142    0.633600       0       0
174    0.579228       1       0
139    0.227474       1       0
63     0.116955       1       0
136    0.061252       1       0
129    0.124945       1       0
221    0.142255       1       0
185    0.772304       1       0
71     0.139148       1       0
206    0.237905       0       0
65     0.262761       0       0
45     0.547048       0       1
220    0.541278       0       1
41     0.228362       0       0
124    0.226365       1       0
24     0.747226       0       1
183    0.878828       0       0
179    0.085442       1       0
82     0.242122       1       0
40     0.566356       0       0
205    0.328007       0       1
48     0.591434       0       1
95     0.377275       1       0
186    0.331558       0       0
44     0.087217       1       0
146    0.057701       1       0
191    0.220595       1       0
4      0.397914       1       0
106    0.213271       1       0
54     0.092987       1       0
134    0.144474       1       0
222    0.170217       1       0
238    0.600976       1       0
227    0.096316       1       0
50     0.272747       1       0
164    0.178873       1       0
81     0.303817       1       0
35     0.266977       1       0
202    0.155126       1       0
8      0.468930       0       1
172    0.223258       1       0
111    0.183089       1       0
92     0.371505       1       0
84     0.597648       1       0
218    0.129605       1       0
223    0.062805       0       0
90     0.341988       1       0
9      0.206170       1       0
14     0.281403       0       1
60     0.943631       0       1
210    0.155570       1       0
132    0.322237       1       0
18     0.233910       0       0
167    0.333111       1       0
73     0.468486       1       0
233    0.130049       1       0
135    0.277630       1       0
200    0.172215       1       0
225    0.170217       1       0
64     0.278296       0       1
55     0.439636       0       1
108    0.431869       1       0
51     0.150688       1       0
231    0.405237       0       1
175    0.245672       1       0
213    0.944962       0       1
190    0.385042       0       0
241    0.475588       1       0
216    0.158677       1       0
170    0.108300       1       0
59     0.121838       1       0
49     0.505992       0       0
89     0.420772       1       0
22     0.322681       1       0
58     0.458500       1       0
204    0.236352       1       0
161    0.349534       0       1
237    0.152020       1       0
188    0.548380       0       0
192    0.312028       1       0
130    0.378828       0       0
38     0.248114       0       0
158    0.427208       0       1
230    0.363293       1       0
2      0.101864       0       0
53     0.644918       0       1
150    0.039059       1       0
131    0.295828       1       0
152    0.163782       1       0
104    0.369951       1       0
100    0.148913       1       0
117    0.536618       0       1
88     0.278074       1       0
203    0.160897       1       0
75     0.199290       1       0
215    0.497559       0       0
211    0.539503       0       0
122    0.170217       1       0
244    0.289170       1       0
21     0.270084       1       0
189    0.275189       0       0
72     0.251221       0       0
107    0.327119       1       0
15     0.201509       1       0
93     0.000000       1       0
180    0.640923       1       0
103    0.855526       0       0

Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [82]:
def rfe(X_train_scaled, y_train, n_features):
    
    lm = LinearRegression()
    rfe = RFE(lm, n_features_to_select=n_features)
    
    rfe.fit(X_train_scaled, y_train)
    
    ranks = rfe.ranking_
    columns = X_train_scaled.columns.tolist()
        
    feature_ranks = pd.DataFrame({'ranking': ranks,
                                  'feature': columns})
    feature_ranks = feature_ranks.sort_values('ranking')
    
    return feature_ranks.head(n_features)

Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).

In [59]:
swiss.head()

,Fertility,Agriculture,Examination,Education,Catholic,Infant.Mortality
Courtelary,80.2,17.0,15,12,9.96,22.2
Delemont,83.1,45.1,6,9,84.84,22.2
Franches-Mnt,92.5,39.7,5,5,93.40,20.2
Moutier,85.8,36.5,12,7,33.77,20.3
Neuveville,76.9,43.5,17,15,5.16,20.6

In [61]:
train, validate, test = wrangle.subset_df(swiss)
train.shape, validate.shape, test.shape

((28, 6), (9, 6), (10, 6))

In [65]:
cols_to_scale = ['Agriculture', 'Catholic', 'Infant.Mortality']

In [66]:
train_scaled, validate_scaled, test_scaled = wrangle.scale_data(train, validate, test, MinMaxScaler(), cols_to_scale)

In [67]:
train_scaled.head()

,Fertility,Agriculture,Examination,Education,Catholic,Infant.Mortality
Sarine,82.9,0.402685,16,13,0.911906,0.860759
Grandson,71.7,0.252349,17,8,0.011753,0.582278
Yverdon,65.4,0.460403,15,8,0.040368,0.740506
Herens,77.3,1.000000,5,2,1.000000,0.474684
Rive Droite,44.7,0.421477,16,29,0.493408,0.468354

In [68]:
X_train, y_train, X_validate, y_validate, X_test, y_test = modeling.xy_subsets(train_scaled, validate_scaled, test_scaled, 'Fertility')

In [69]:
X_train.head()

             Agriculture  Examination  Education  Catholic  Infant.Mortality
Sarine          0.402685           16         13  0.911906          0.860759
Grandson        0.252349           17          8  0.011753          0.582278
Yverdon         0.460403           15          8  0.040368          0.740506
Herens          1.000000            5          2  1.000000          0.474684
Rive Droite     0.421477           16         29  0.493408          0.468354

In [71]:
X_train = pd.get_dummies(X_train, columns=['Examination', 'Education'])

In [87]:
select_kbest(X_train, y_train, 3)

          Catholic  Infant.Mortality  Education_29
Sarine    0.911906          0.860759             0
Grandson  0.011753          0.582278             0
Yverdon   0.040368          0.740506             0

In [83]:
rfe(X_train, y_train, 3)

    ranking         feature
32        1    Education_29
1         1        Catholic
10        1  Examination_15